/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
  
  * {
    @apply border-gray-200;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}